<div class="table-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full">
    <!-- Ver -->
    <ng-container matColumnDef="ver">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let user">
        <button mat-icon-button (click)="verDetalle(user)">
          <mat-icon>visibility</mat-icon>
        </button>
      </td>
    </ng-container>
    <!-- ID -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let user">{{ user.id }}</td>
    </ng-container>
    <!-- Nombre -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let user">{{ user.name }}</td>
    </ng-container>
    <!-- Email -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let user">{{ user.email }}</td>
    </ng-container>
    <!-- Estado -->
    <ng-container matColumnDef="enabled">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let user">
        <span
          class="inline-block px-2 py-1 rounded-full"
          [ngClass]="user.enabled ? 'bg-green-100 text-green-700' : 'bg-red-100 text-red-700'"
        >
          {{ user.enabled ? 'Activo' : 'Deshabilitado' }}
        </span>
      </td>
    </ng-container>
    <!-- Header Row -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <!-- Data Rows -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>