<div class="table-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full">
    <!-- Ver Detalle (Ojo) -->
    <ng-container matColumnDef="ver">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let order">
        <button mat-icon-button (click)="verDetalle(order)">
          <mat-icon>visibility</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- ID Pedido -->
    <ng-container matColumnDef="orderId">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let order">{{ order.orderId }}</td>
    </ng-container>

    <!-- Cliente ID -->
    <ng-container matColumnDef="clientId">
      <th mat-header-cell *matHeaderCellDef>ID Cliente</th>
      <td mat-cell *matCellDef="let order">{{ order.clientId }}</td>
    </ng-container>

    <!-- Estado con color -->
    <ng-container matColumnDef="orderStatus">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let order">
        <span
          class="p-2"
          [ngClass]="{
            'bg-yellow-200 text-yellow-800 px-2 py-1 rounded ':
              order.orderStatus === 'PENDING',
            'bg-green-100 text-green-800 px-2 py-1 rounded ':
              order.orderStatus === 'DELIVERED',
            'bg-blue-200 text-blue-800 px-2 py-1 rounded ':
              order.orderStatus === 'IN_PROGRESS',
            'bg-red-200 text-red-800 px-2 py-1 rounded ':
              order.orderStatus === 'CANCELLED',
            'bg-green-300 text-gray-800 px-2 py-1 rounded ':
              order.orderStatus === 'COMPLETED'
          }"
        >
          {{ order.orderStatus | orderStatus }}
        </span>
      </td>
    </ng-container>

    <!-- Importe -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>Importe</th>
      <td mat-cell *matCellDef="let order">{{ order.amount }}</td>
    </ng-container>

    <!-- Fecha de creación -->
    <ng-container matColumnDef="creationTime">
      <th mat-header-cell *matHeaderCellDef>Creación</th>
      <td mat-cell *matCellDef="let order">{{ order.creationTime }}</td>
    </ng-container>

    <!-- Fecha de entrega -->
    <ng-container matColumnDef="deliveryTime">
      <th mat-header-cell *matHeaderCellDef>Entrega</th>
      <td mat-cell *matCellDef="let order">{{ order.deliveryTime }}</td>
    </ng-container>

    <!-- Dirección de entrega -->
    <ng-container matColumnDef="deliveryAddress">
      <th mat-header-cell *matHeaderCellDef>Dirección Entrega</th>
      <td mat-cell *matCellDef="let order">{{ order.deliveryAddress }}</td>
    </ng-container>

    <!-- Header Row -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <!-- Data Rows -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
