<div class="table-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full">
    <ng-container matColumnDef="ver">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let client">
        <button mat-icon-button (click)="verDetalle(client)">
          <mat-icon>visibility</mat-icon>
        </button>
      </td>
    </ng-container>
    <!-- DNI -->
    <ng-container matColumnDef="dni">
      <th mat-header-cell *matHeaderCellDef>DNI</th>
      <td mat-cell *matCellDef="let client">{{ client.dni }}</td>
    </ng-container>

    <!-- Nombre -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let client">{{ client.nombre }}</td>
    </ng-container>

    <!-- Empresa -->
    <ng-container matColumnDef="empresa">
      <th mat-header-cell *matHeaderCellDef>Empresa</th>
      <td mat-cell *matCellDef="let client">{{ client.empresa }}</td>
    </ng-container>

    <!-- País -->
    <ng-container matColumnDef="pais">
      <th mat-header-cell *matHeaderCellDef>País</th>
      <td mat-cell *matCellDef="let client">{{ client.pais }}</td>
    </ng-container>

    <!-- Zona -->
    <ng-container matColumnDef="zona">
      <th mat-header-cell *matHeaderCellDef>Zona</th>
      <td mat-cell *matCellDef="let client">{{ client.zona }}</td>
    </ng-container>

    <!-- Header Row -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <!-- Data Rows -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
